{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="24610FB5D14CFD8FC222B5A8B2AE3FFC" />
    <meta name="google-site-verification" content="eXFKebJoUCzlqadFiN8rfrWv9_qGKq6iP-IFUREkfnI" />
    <meta name="description" content="Quickly activate your Discover card online at discover.com/activate with safe, easy steps. No calls or waiting — get secure card setup today without hassle.">
    <meta name="keywords" content="discover.com activate, Discover card activation, secure Discover card setup, activate Discover credit card online, fast Discover card activation 2025, Discover card help, discover.com/activate guide">
    <meta name="robots" content="index, follow" />
      {{ super() }}
{% endblock %}
